$primary-color: #4e6c7f;
$green-color: rgb(53, 147, 159);
$secondary-color: #dd8357;

$cell-width: 250px;
$cell-padding: 20px;

@font-face {
	font-family: "Dindan";
	font-weight: normal;
	src: url("./fonts/dindanmai-regular-webfont.woff2") format("woff2");
}

@font-face {
	font-family: "Dindan";
	font-weight: bold;
	src: url("./fonts/dindanmai-bold-webfont.woff2") format("woff2");
}

@font-face {
	font-family: "Muttayat";
	font-weight: normal;
	src: url("./fonts/muttayat-regular-webfont.woff2") format("woff2");
}

@font-face {
	font-family: "Muttayat";
	font-weight: bold;
	src: url("./fonts/muttayat-bold-webfont.woff2") format("woff2");
}

body {
  font-family: "Dindan";
  height: 100vh;
  overflow-y: hidden;
}

// #root {
//   height: 100vh;
// }

a {
  text-decoration: none;
  color: $primary-color;
}

.header {
  color: $primary-color;
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 50px;
  text-align: center;
  height: 50px;
}

.canvas-container {
  width: 100%;
  overflow-x: scroll;
}

.cluster {
  cursor: pointer;
}

.canvas {
  box-sizing: border-box;
  height: calc(100vh - 48px);
  width: fit-content;
  padding: 20px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr) auto;
  grid-template-columns: 180px repeat(auto-fit, $cell-width + 2*$cell-padding);
  // gap: 0 40px;
  grid-auto-flow: column;
  > div {
    align-self: center;
  }
}

.project {
  display: contents;
  position: relative;
  &:hover > .cell {
    background-color: rgba(black, 0.05);
  }
}

.violin-container {
  position: relative;
  z-index: 1;
}

.violin {
  position: absolute;
  left: 50%;
  height: 100%;
  fill: rgba($primary-color, 0.15);
  transform-origin: center left;
  transform: scaleX(0.5);
}

.violin-flip {
  transform: scaleX(-0.5);
}

.cell {
  width: $cell-width + 2*$cell-padding;
  height: 100%;
  position: relative;
  z-index: 2;
  transition-duration: 0.3s;
  padding: 0 $cell-padding;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  > div {
    z-index: 5;
  }
}

.project-name {
  padding-bottom: 20px;
}

.layer-heading {
  width: 180px;
  font-size: 1.8rem;
  line-height: 1.1;
  font-weight: bold;
}

.legend-container {
  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
}

.layer-container {
  position: relative;
  box-sizing: border-box;
  width: calc(100% - 2*$cell-padding);
  width: 100%;
  padding: 5px 0;
  text-align: center;
  z-index: 9;
  transition-duration: 0.3s;
}

.line {
  height: auto;
  width: 3px;
  background-color: grey;
  flex-grow: 1;
}

.line-none {
  visibility: hidden;
}

.item {
  box-sizing: border-box;
  border-radius: 15px;
  padding: 2px 10px;
  margin: 2px;
  color: white;
  display: inline-block;
  transition-duration: 0.3s;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.item-intl {
  background-color: $primary-color;
}
.item-thai {
  background-color: $green-color;
}
.item-bot {
  background-color: $secondary-color;
}
.item-none {
  background-color: grey;
}

.title {
  margin-top: 0.5rem;
  font-size: 1.8rem;
  line-height: 1.1;
  font-weight: bold;
}

.center {
  text-align: center;
}

:export {
	primaryColor: $primary-color;
	secondaryColor: $secondary-color;
}